* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  outline: none;
  border: none;
}

html {
  font-family: sans-serif;
  background-color: #212121;
}

button {
  width: 15rem;
  cursor: pointer;
  padding: 15px 25px;
  border-radius: 5px;
  background-color: #373737;
  color: #eee;
  transition: 200ms;
}

button:hover {
  opacity: 0.7;
}

button:active {
  transform: scale(0.95, 0.95);
}

p {
  font-size: 0.8rem;
  color: #ffc505;
}
